body {
  padding: 0;
  margin: 0;
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lisu Bosa";
  font-weight: 600;
  text-align: center;
  background-image: url("../img/plano-de-fundo.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

body::before {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lisu Bosa";
  font-weight: 600;
  text-align: center;
  background-image: url("../img/plano-de-fundo.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  filter: blur(100%);
  z-index: -1;
  opacity: 0.5;
}

h1 {
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 36px;
  font-style: italic;
  font-weight: 900;
  width: 1000px;
  padding-bottom: 1px;
  margin: 5px auto;
}

h4 {
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

/* Container principal */
.container-principal {
  width: 1000px;
  height: 1000px; /* Altura ajustável */
  background-color: #f8f8f8;
  border-radius: 27px;
  box-shadow: 300px 300px 300px rgba(0, 0, 0, 0.1);
  border: 5px solid rgb(58, 58, 58);
  margin: 30px;
}

/* Estilos para as seções internas */
.rodizios,
.pizzas,
.bebidas,
.calculos {
  border: 1px solid #5a5a5a;
  border-radius: 27px;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  width: 963px;
  height: 190px;
  margin: 13px auto;
  display: flex;
}

.calculos {
  height: 215px;
}

.rodizios {
  margin-top: 0px;
}

.pizzas,
.bebidas {
  height: 240px;
}

#label-select {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 900px;
  width: 100%;
  font-size: 16px;
  flex-wrap: nowrap;
  text-align: center;
  height: 100%;
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
}

#label-select h4 {
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 24px;
  font-style: italic;
  font-weight: 550;
  line-height: normal;
  text-align: justify;
  padding: 13px;
  margin-top: -103px;
  position: absolute;
}

#label-select-pizzas {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 900px;
  width: 100%;
  font-size: 16px;
  flex-wrap: nowrap;
  text-align: center;
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

#label-select-pizzas p {
  padding: 0px;
  margin: 0;
  padding-top: 19px;
  margin-top: 0;
}

#label-select-pizzas select {
  margin: 0;
}

#label-select-pizzas h4 {
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 24px;
  font-style: italic;
  font-weight: 550;
  line-height: normal;
  text-align: justify;
  padding: 13px;
  margin-top: -160px;
  position: absolute;
}

#label-select-bebidas {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
  width: 100%;
  font-size: 16px;
  flex-wrap: wrap;
  text-align: center;
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

#label-select-bebidas select {
  margin: 0;
}

#label-select-bebidas p {
  padding: 0px;
  margin: 0;
  padding-top: 19px;
  margin-top: 0;
  width: 600px;
}

#label-select-bebidas select[id="select-sucos"] {
  margin-left: 70px;
}

#label-select-bebidas select[id="select-alcolico"] {
  margin-left: 47px;
}

#label-select-bebidas h4 {
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 24px;
  font-style: italic;
  font-weight: 550;
  line-height: normal;
  text-align: justify;
  padding: 13px;
  margin-top: -160px;
  position: absolute;
}

#label-calculos {
  display: flex;
  width: 900px;
  width: 100%;
  font-size: 16px;
  flex-wrap: wrap;
  height: 100%;
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}

.listaTitulo,
.listaLista,
.listaValor {
  width: 321px;
  height: 215px;
}

.listaLista {
  display: inline-block;
  overflow-y: auto;
}

#listaProdutos {
  width: 250px;
}

#outTotal,
#outGorjeta,
#outSubTotal {
  display: grid;
  margin-left: 80px;
  margin: 10px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

#outTotal {
  margin-top: 20px;
}

#outGorjeta {
  color: #a52fdb;
}

#outSubTotal {
  margin-top: 50px;
  font-size: 30px;
  color: #ec3232;
}

#label-calculos h4 {
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 24px;
  font-style: italic;
  font-weight: 550;
  line-height: normal;
  text-align: justify;
  padding: 13px;
  margin-top: -129px;
  position: absolute;
  margin: 0 auto;
}

h3 {
  font-size: 30px;
}

/* SELECTS */
select {
  background-color: #fafafa;
  border: 1px solid #5a5a5a;
  width: 130px;
  height: 42px;
  text-align: center;
  border-radius: 27px;
  font-family: "Lisu Bosa";
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  margin: 13px;
}

select:hover {
  background-color: #f1f1f1;
}

/* BUTTONS */
.buttons {
  background-color: #87fcaa;
  border: 1px solid #5a5a5a;
  width: 130px;
  height: 42px;
  border-radius: 27px;
  color: #5a5a5a;
  font-family: "Lisu Bosa";
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.buttons:hover {
  background-color: #72e093;
}

/* RADIOS BUTTONS */
.option-input {
  appearance: none;
  height: 15px;
  width: 15px;
  background: #fafafa;
  margin-right: 0.1rem;
  border-radius: 50%;
  border: 0.5px solid #5a5a5a;
  cursor: pointer;
}

.option-input:checked {
  background: #494949;
  content: "\f00c";
}

.option-input.radio {
  border-radius: 50%;
}
