body {
  padding: 0;
  margin: 0;
  background-color: rgb(168, 122, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter var", ui-sans-serif, system-ui, system-ui, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  text-align: center;
}

/* Container principal */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Distribui os itens uniformemente */
  align-items: center; /* Alinha verticalmente os itens */
  width: 1000px;
  height: 1000px; /* Altura ajustável */
  background-color: #fff;
  margin-top: 60px;
  padding: 10px;
  padding-top: 1px;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para as seções internas */
.rodizios,
.pizzas,
.bebidas,
.calculos {
  flex: content; /* Tamanho flexível, ocupando até 40% da largura */
  margin: 10px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 5px;
  border: 1px solid #333;
  border-radius: 12px;
  background-color: #f9f9f9;
  text-align: center;
}

h1 {
  width: 1000px;
}

/* Rodizios */
.rodizios {
  height: 100px;
}

/* Pizzas */
.pizzas {
  height: 300px;
}

/* Bebidas */
.bebidas {
  height: 300px;
}

/* Cálculos */
.calculos {
  height: 150px;
}

/* Ajustes globais */
.titulo-secundario {
  text-align: justify;
  margin-left: 10px;
  margin-top: 10px;
}

p {
  padding-inline: 20px;
}

/* SELECTS */
select {
  background-color: #f5c1c1;
  border: 0;
  border-radius: 0.5rem;
  color: #3f3f3f;
  font-weight: 600;
  padding: 0.75rem 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  text-align: center;
}

/* BUTTONS */
.buttons {
  background-color: #cfbbbb;
  border: 0;
  border-radius: 0.5rem;
  color: #111827;
  font-weight: 600;
  padding: 0.75rem 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.buttons:hover {
  background-color: rgb(249, 250, 251);
}

/* RADIOS BUTTONS */
.option-input {
  appearance: none;
  height: 22px;
  width: 22px;
  background: #cbd1d8;
  margin-right: 0.1rem;
  border-radius: 50%;
  cursor: pointer;
}

.option-input:checked {
  background: #40e0d0;
  content: "\f00c";
}

.option-input.radio {
  border-radius: 50%;
}
