.container {
  box-sizing: border-box;
}
.container {
  background: #fafafa;
  height: 1000px;
  position: relative;
  border: 10px solid black;
}
.rectangle-8 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 361px;
  top: 96px;
  overflow: visible;
}
.rectangle-9 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 494px;
  top: 96px;
  overflow: visible;
}
.quantidade-de-rod-zios {
  color: #5a5a5a;
  text-align: left;
  font-family: "LisuBosa-MediumItalic", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  left: 377px;
  top: 47px;
  width: 199px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.selecionar-qntd {
  color: #5a5a5a;
  text-align: left;
  font-family: "LisuBosa-MediumItalic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  left: 374px;
  top: 99px;
  width: 92px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.adicionar {
  color: #5a5a5a;
  text-align: left;
  font-family: "LisuBosa-MediumItalic", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  left: 520px;
  top: 107px;
  width: 52px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rod-zios {
  color: #5a5a5a;
  text-align: left;
  font-family: "LisuBosa-MediumItalic", sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  left: 21px;
  top: 11px;
  width: 137px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-2 {
  background: #fafafa;
  width: 963px;
  height: 190px;
  position: absolute;
  left: 20px;
  top: 79px;
}
.rectangle-82 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 361px;
  top: 96px;
  overflow: visible;
}
.rectangle-92 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 494px;
  top: 96px;
  overflow: visible;
}
.section-3 {
  background: #fafafa;
  width: 963px;
  height: 190px;
  position: absolute;
  left: 19px;
  top: 282px;
}
.rectangle-83 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 361px;
  top: 96px;
  overflow: visible;
}
.rectangle-93 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 494px;
  top: 96px;
  overflow: visible;
}
.pizza {
  width: 111px;
  height: 119px;
  position: absolute;
  left: 653px;
  top: 16px;
  overflow: visible;
}
.vector {
  width: 1.95%;
  height: 9.87%;
  position: absolute;
  right: 32.22%;
  left: 65.84%;
  bottom: 30.66%;
  top: 59.47%;
  overflow: visible;
}
.section-4 {
  background: #fafafa;
  width: 963px;
  height: 190px;
  position: absolute;
  left: 20px;
  top: 485px;
}
.rectangle-84 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 361px;
  top: 96px;
  overflow: visible;
}
.rectangle-94 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 494px;
  top: 96px;
  overflow: visible;
}
.section-5 {
  background: #fafafa;
  width: 963px;
  height: 292px;
  position: absolute;
  left: 20px;
  top: 688px;
}
.rectangle-85 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 361px;
  top: 96px;
  overflow: visible;
}
.rectangle-95 {
  border-radius: 0px;
  width: 105px;
  height: 34px;
  position: absolute;
  left: 494px;
  top: 96px;
  overflow: visible;
}
